### all ignore ###
/*
/.**

### not ignore ###
!/.fish/
!/.fish/**
!/.fzf/**
!/.github/
!/.github/**
!/.z/**
!/.bash_aliases
!/.bashrc
!/.functions.bash
!/.git-completion.bash
!/.git-prompt.sh
!/.gitconfig
!/.gitmodules
!/.vimrc
!/install.sh

!/README.md
!.gitignore