[user]
        email = uchida.yuta.mar.sh.nat@gmail.com
        name = yuta100101
[core]
	editor = vim
        quotepath = false
        ignorecase = false
[alias]
        ss = status
        ck = checkout
        cm = commit
        lol = log --graph --oneline --remotes --branches --decorate=full
        br = branch
        fixit = commit --amend --no-edit
        fol = !git fetch && git lol
	sha = "!f() { git rev-parse \"${1-HEAD}\"; }; f"
[fetch]
        prune = true
[submodule]
        recurse = true
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
[color "grep"]
match = red
linenumber = bold white
filename = yellow
